In [2]:
import pandas as pd
import numpy as np

In [2]:

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [4]:
df = pd.concat([flats,houses],ignore_index=True)

In [5]:
df = df.sample(df.shape[0],ignore_index=True)

In [6]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2004,3 BHK Flat in Sector 65 Gurgaon,flat,m3m skycity,3.00,16411.0,1828.0,Super Built up area 1828(169.83 sq.m.),3.0,3.0,3,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",17.0,East,By 2024,"['Sector 55 Metro Station', 'Eros City Square'...",1. Vastu compliant\n2. 3 bedroom + 3 bathrooms...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
561,2 BHK Flat in Sector 99A Gurgaon,flat,pareena laxmi apartments,0.30,5424.0,553.0,Super Built up area 553(51.38 sq.m.)Carpet are...,2.0,1.0,2,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",5.0,North,0 to 1 Year Old,"['Dwarka Expy', 'Govt. Sr. Sec. School', 'Exce...",Pollution free area with greenery.,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Management4 out of 5', 'Green Area4.5 out of..."
2008,5 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,6.15,27333.0,2250.0,Plot area 270(225.75 sq.m.)Built Up area: 270 ...,5.0,5.0,3+,"servant room,pooja room,store room","Block, Sector 109 Gurgaon, Gurgaon, Haryana",3.0,West,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",An exclusive villa township\nPhase 1 is spread...,"['7 Wardrobe', '7 Fan', '6 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
3208,2 BHK Flat in Sector 77 Gurgaon,flat,umang winter hills,1.00,7500.0,1333.0,Carpet area: 1340 (124.49 sq.m.),2.0,2.0,2,not available,"Sector 77 Gurgaon, Gurgaon, Haryana",3.0,NaN,0 to 1 Year Old,"['Entertainland Mall', 'Delhi Jaipur Expresswa...",Internal park facing property and have best la...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
1885,2 BHK Flat in Sector 103 Gurgaon,flat,indiabulls centrum park,1.01,8080.0,1250.0,Super Built up area 1423(132.2 sq.m.)Carpet ar...,2.0,2.0,3,store room,"5th, Sector 103 Gurgaon, Gurgaon, Haryana",5.0,West,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'HUDA Market, Sector 1...",This 2 bhk flat is located in indiabulls centr...,"['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '12 L...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."

In [7]:
df.shape

(4018, 20)

In [9]:
df.to_csv('gurgaon_properties.csv',index=False)

In [11]:
df = pd.read_csv('gurgaon_properties.csv')

In [12]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1726,3 BHK Flat in Sector 12 Gurgaon,flat,bhagwati sadan,1.15,5500.0,2091.0,Built Up area: 2000 (185.81 sq.m.),3.0,4.0,2,"servant room,others","Mianwali Colony, Sector 12, Gurgaon, Sector 12...",2.0,NaN,10+ Year Old,"['Hanuman Mandir', 'Dental Health Centre', 'No...",Check out this 3 bhk apartment for sale in sec...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4.5 out of 5', 'Safety4 out of 5'..."
3381,2 Bedroom House for sale in Laxman Vihar,house,independent,1.25,78125.0,160.0,Built Up area: 160 (14.86 sq.m.),2.0,3.0,0,not available,"Laxman Vihar, Sector 3a, Laxman Vihar, Gurgaon...",1.0,NaN,undefined,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Best in class property available at laxman vih...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
468,3 BHK Flat in Sector 85 Gurgaon,flat,godrej air,2.60,12212.0,2129.0,Built Up area: 2129 (197.79 sq.m.),3.0,3.0,3,servant room,"Sector 85, Sector 85 Gurgaon, Gurgaon, Haryana",17.0,NaN,Dec 2023,"['Sapphire 83 Mall', 'Sector 86 Road', 'Dwarka...",3bhk multistorey apartment for resale in godre...,NaN,NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ..."
3903,3 BHK Flat in Sector 86 Gurgaon,flat,microtek greenburg,1.45,9797.0,1480.0,Built Up area: 1480 (137.5 sq.m.)Carpet area: ...,3.0,2.0,3,not available,"Sector 86 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['SS Omnia Mall', 'National Highway 8', 'Dwark...","New property , just inaugurated in march 23","['1 Water Purifier', '5 Fan', '1 Fridge', '1 E...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Amenities4.5 out of ..."
1662,2 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,0.70,4666.0,1500.0,Built Up area: 1468 (136.38 sq.m.)Carpet area:...,2.0,2.0,1,not available,"Sector 108, Sector 108 Gurgaon, Gurgaon, Haryana",10.0,West,5 to 10 Year Old,NaN,"2 bath, semi furnished, 10th floor (Of 16), ov...",NaN,NaN,"['Green Area4 out of 5', 'Amenities4 out of 5'..."

In [13]:
df.shape

(4018, 20)

In [15]:
df.duplicated().sum()

np.int64(10)

In [17]:
df = df.drop_duplicates()

In [18]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                67
price_per_sqft       29
area                 67
areaWithType         47
bedRoom              47
bathroom             47
balcony              47
additionalRoom        0
address              19
floorNum             68
facing             1224
agePossession        48
nearbyLocations     215
description           8
furnishDetails     1079
features            756
rating              464
dtype: int64

In [19]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [20]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 112 Gurgaon,flat,experion windchants,Sector 112,3.65,11428.0,3194.0,Built Up area: 2800 (260.13 sq.m.),3.0,5.0,2,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","3 bedroom, 2800 sq.Ft. Apartment on lower floo...","['5 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."
1,4 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,Sector 83,1.25,7812.0,1600.0,Super Built up area 2390(222.04 sq.m.)Carpet a...,4.0,4.0,3,servant room,"Block A, Sector 83 Gurgaon, Gurgaon, Haryana",12.0,South-West,5 to 10 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","The unit is a row flat, it has 4 bathrooms and...","['4 Fan', '5 Light', '3 Wardrobe', 'No AC', 'N...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ..."
2,2 BHK Flat in Sector 90 Gurgaon,flat,green court,Sector 90,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2.0,2.0,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
3,3 BHK Flat in Sector 49 Gurgaon,flat,orchid petals,Sector 49,1.90,10526.0,1805.0,Super Built up area 1805(167.69 sq.m.)Built Up...,3.0,3.0,3,others,"204, Sector 49 Gurgaon, Gurgaon, Haryana",2.0,South,10+ Year Old,"['Sapphire Mall', 'Omaxe City Centre', 'BigBaz...",This lovely 3 bhk apartment/flat in sector 49 ...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 79 Gurgaon,flat,bestech altura,Sector 79,2.69,12500.0,2152.0,Super Built up area 2150(199.74 sq.m.),3.0,4.0,3+,servant room,"Tower F, 3rd Floor, Sector 79 Gurgaon, Gurgaon...",3.0,NaN,0 to 1 Year Old,"['Sapphire 83 Mall', 'NH -8', 'Golf Course Ext...",Tower f \n3rd floor\nCorner property \nSwimmin...,"['4 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle3 out of 5..."

In [21]:
df['sector'] = df['sector'].str.lower()

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\537555123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.lower()

In [22]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 112 Gurgaon,flat,experion windchants,sector 112,3.65,11428.0,3194.0,Built Up area: 2800 (260.13 sq.m.),3.0,5.0,2,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","3 bedroom, 2800 sq.Ft. Apartment on lower floo...","['5 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."
1,4 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,sector 83,1.25,7812.0,1600.0,Super Built up area 2390(222.04 sq.m.)Carpet a...,4.0,4.0,3,servant room,"Block A, Sector 83 Gurgaon, Gurgaon, Haryana",12.0,South-West,5 to 10 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","The unit is a row flat, it has 4 bathrooms and...","['4 Fan', '5 Light', '3 Wardrobe', 'No AC', 'N...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ..."
2,2 BHK Flat in Sector 90 Gurgaon,flat,green court,sector 90,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2.0,2.0,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
3,3 BHK Flat in Sector 49 Gurgaon,flat,orchid petals,sector 49,1.90,10526.0,1805.0,Super Built up area 1805(167.69 sq.m.)Built Up...,3.0,3.0,3,others,"204, Sector 49 Gurgaon, Gurgaon, Haryana",2.0,South,10+ Year Old,"['Sapphire Mall', 'Omaxe City Centre', 'BigBaz...",This lovely 3 bhk apartment/flat in sector 49 ...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 79 Gurgaon,flat,bestech altura,sector 79,2.69,12500.0,2152.0,Super Built up area 2150(199.74 sq.m.),3.0,4.0,3+,servant room,"Tower F, 3rd Floor, Sector 79 Gurgaon, Gurgaon...",3.0,NaN,0 to 1 Year Old,"['Sapphire 83 Mall', 'NH -8', 'Golf Course Ext...",Tower f \n3rd floor\nCorner property \nSwimmin...,"['4 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle3 out of 5..."

In [23]:
df['sector'].value_counts(

)

sector
sohna                                                        164
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 109                                                   100
sector 69                                                     94
sector 81                                                     91
sector 65                                                     91
sector 90                                                     90
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 48                                                     63
sector 107                                                    60
sector 108                                                    59
sector 56                                                     57
sector 95                                                     57
sector 89                                                     56
sector 70                                                     54
sector 70a                                                    54
nirvana country                                               53
sector 37c                                                    53
sector 66                                                     52
sector-33 sohna                                               52
sector 84                                                     51
palam vihar                                                   50
sector 67                                                     48
sector 103                                                    45
dlf phase 2                                                   43
sector 113                                                    43
dlf phase 1                                                   43
sector 82                                                     42
sector 61                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 72                                                     30
sector 77                                                     29
sector 54                                                     27
laxman vihar                                                  27
sector 71                                                     27
dlf phase 4                                                   26
sector 112                                                    25
sector 111                                                    24
sector 88a                                                    23
sector 33                                                     23
sector 67a                                                    22
dlf phase 3                                                   22
sector 22                                                     21
sector 82a                                                    20
sector 63a                                                    20
sector 78                                                     19
sector 74                                                     18
sector 91                                                     17
sector 62                                                     17
sector 110                                                    16
sector 99                                                     16
sushant lok phase 3                                           16
sector 60                                                     15
sector 52                                                     15
sector 63                                                     15
sector 14                                                     15
dlf phase 5                                                   14
sector 1 imt manesar                                          14
rajendra park                                                 14
gwal pahari                                                   14
sector 3                                                      14
sector 76                                                     14
sector 53                                                     14
sector 36a                                                    13
sector 46                                                     13
laxman vihar phase 2                                          13
sector 50                                                     12
sohna road                                                    12
sector 38                                                     12
sector 39                                                     12
sector 93                                                     12
uppals southend                                               12
sector 31                                                     12
sector 9a                                                     11
sector 47                                                     11
ashok vihar phase 3 extension                                 11
sector 1a imt manesar                                         10
sector 7                                                      10
sector 95a                                                     9
ashok vihar phase 2                                            9
sector 4                                                       9
south city 1                                                   9
sector 55                                                      9
palam vihar extension                                          9
c block sushant lok phase 1                                    8
sector 43                                                      8
sector 10a                                                     8
sector 89 a                                                    8
sector 57                                                      8
mehrauli  road                                                 8
malibu town                                                    8
dwarka expressway                                              8
sector 59                                                      8
sector 40                                                      8
surat nagar 1                                                  7
new colony                                                     7
rajiv nagar                                                    7
sector 58                                                      7
sector 51                                                      7
sector 5                                                       7
sector 36 sohna                                                7
sector 26                                                      7
mianwali colony                                                7
sector 11                                                      7
jyoti park                                                     6
ashok vihar                                                    6
sector 1                                                       6
arjun nagar                                                    6
jacobpura                                                      6
sector 73                                                      6
chakkarpur                                                     5
greenwood city                                                 5
sector 2                                                       5
sector 80                                                      5
surya vihar                                                    5
subhash nagar                                                  5
dayanand colony                                                5
sector 30                                                      5
new palam vihar                                                5
manesar                                                        5
sushant lok phase 2                                            5
ansal plaza                                                    5
saraswati vihar                                                5
sector 23a                                                     5
sector 9                                                       5
sector 105                                                     5
sector 28                                                      5
shivpuri                                                       4
bhondsi                                                        4
garhi harsaru                                                  4
krishna colony                                                 4
imt manesar                                                    4
adarsh nagar                                                   4
sector 12                                                      4
suncity                                                        4
shivaji nagar                                                  4
sector 23                                                      4
new                                                            4
sector 6                                                       4
madanpuri                                                      4
valley view estate                                             4
sector 36                                                      4
sector 17                                                      4
sector 3a                                                      4
sector 12a                                                     4
dharam colony                                                  4
sector 45                                                      4
ravi nagar                                                     4
baldev nagar                                                   4
bhim nagar                                                     4
devilal colony                                                 4
vishnu garden                                                  4
laxmi garden                                                   3
sector 17b                                                     3
maruti kunj                                                    3
b block sushant lok phase 1                                    3
sector 88b                                                     3
sector 8                                                       3
sector 110 a                                                   3
gandhi nagar                                                   3
prem nagar                                                     3
shakti nagar                                                   3
mg road                                                        3
sector 15                                                      3
sector 27                                                      3
patel nagar                                                    3
a block sushant lok phase 1                                    3
sector 17a                                                     3
sector 24                                                      2
mohan nagar                                                    2
sispal vihar                                                   2
sector 15 part 1                                               2
bhawani enclave                                                2
samaspur                                                       2
iffco chowk                                                    2
new palam vihar phase 2                                        2
sector 21                                                      2
mayfield garden                                                2
sector 41                                                      2
nars                                                           2
sector 15 part 2                                               2
new palam vihar phase 1                                        2
new basti                                                      2
golf course road                                               2
surat nagar                                                    2
block a surya vihar                                            2
rajiv chowk                                                    2
shanti nagar                                                   2
manohar nagar                                                  2
golf course ext road                                           2
hira nagar                                                     2
acharya puri                                                   2
sector 32                                                      2
sector-2 sohna                                                 2
daulatabad                                                     2
rosewood                                                       2
faridabad road                                                 2
surat nagar phase 2                                            2
bissar                                                         2
lajpat nagar                                                   2
sector-11 sohna                                                2
shankar vihar                                                  2
sushant lok                                                    2
ambience island                                                2
pratap nagar                                                   2
farukhnagar                                                    2
sheetla colony                                                 2
sohna  road                                                    2
, delhi ncr                                                    2
west rajiv nagar                                               2
near pataudi chowk                                             1
sai kunj                                                       1
sector 5 chowk                                                 1
v block dlf phase 3                                            1
hsiidc plot sector 1 imt manesar                               1
sector 13                                                      1
block g sector-57                                              1
rajiv colony                                                   1
sultanpur                                                      1
sector 42                                                      1
sector 37a                                                     1
shivji park colony                                             1
b1 block sector 57                                             1
saroop garden rajendra park                                    1
bptp                                                           1
kanahi                                                         1
cyber city                                                     1
sector 9b                                                      1
rattan garden                                                  1
g block dlf city phase 1                                       1
laxman vihar, railway road,                                    1
ravi nager basai road                                          1
khandsa                                                        1
garauli kalan                                                  1
ansal's palam vihar                                            1
new colony, sector 7                                           1
pataudi road                                                   1
bhora kalan                                                    1
udyog vihar phase 1                                            1
kheri                                                          1
tekchand nagar                                                 1
jat colony,fazilpur/taj nagar road                             1
sector 21a faridabad                                           1
sector 37b                                                     1
ashok vihar phase 3                                            1
dhankot                                                        1
sector 17c                                                     1
ats marigold                                                   1
hno 13 sagar enclave sura                                      1
sector-5 sheetla colony                                        1
damdma                                                         1
sadar bazar                                                    1
laxmna vihar, phase 2                                          1
sector-35 sohna                                                1
nirvana country pocket h                                       1
jacobpura near sadar bazar                                     1
mahalaxmi garden, rajendra place                               1
sector-5 sohna                                                 1
sector 4 urban estate                                          1
old delhi road, opp sector-14                                  1
heritage city                                                  1
ashok vihar phase i                                            1
anand garden, sector-105                                       1
bhimgarh kheri phase 3                                         1
alipur                                                         1
om nagar                                                       1
mahavir pura                                                   1
saraswati enclave                                              1
urban estate, sector 5                                         1
begampur khatola                                               1
part 3 sector 5                                                1
sector-7 hous                                                  1
ram nagar                                                      1
near khandsa road                                              1
block h ashok vihar phase iii extension                        1
civil l                                                        1
sec 3 bhim vihar part 1 bhimgher kheri                         1
naharpur rupa                                                  1
near sector 1 market                                           1
new jyoti park                                                 1
godrej aria , sector 79 ,                                      1
near euro                                                      1
vir nagar                                                      1
lucknow                                                        1
carterpuri village                                             1
park view                                                      1
gopal nagar, garhi ghasita, sonipat                            1
devi lal colony gali no 12 gurgaon nr omkar public school      1
near nand hospital                                             1
huda saraswati vihar                                           1
south city                                                     1
Name: count, dtype: int64

In [24]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('suncity','sector 54')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('mg road','sector 28')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\956316535.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [25]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('imt manesar','manesar')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('malibu town','sector 47')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('new colony','sector 7')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sohna','sohna road')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
C:\Users\RAHUL\AppData\Local\Temp\ipykernel_26712\3370772596.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('south city 1','sector 41')

In [29]:
df['sector'].value_counts()

sector
sohna road                    164
sector 102                    113
sector 85                     110
sector 92                     104
sector 109                    100
sector 69                      94
sector 81                      91
sector 65                      91
sector 90                      90
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 48                      63
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 89                      56
sector 2                       55
sector 70a                     54
sector 70                      54
sector 43                      53
sector 37c                     53
sector 66                      52
sector-33 sohna road           52
sector 84                      51
sector 26                      50
sector 67                      48
sector 49                      48
sector 28                      47
sector 103                     45
sector 25                      43
sector 113                     43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 72                      30
sector 12                      30
sector 77                      29
sector 71                      27
sector 112                     25
sector 57                      24
sector 24                      24
sector 111                     24
sector 88a                     23
sector 105                     23
sector 14                      23
sector 33                      23
sector 67a                     22
sector 11                      21
sector 22                      21
sector 3                       20
sector 82a                     20
sector 63a                     20
sector 78                      19
sector 47                      19
gwal pahari                    18
sector 74                      18
sector 91                      17
sector 62                      17
sector 99                      16
sector 110                     16
sector 60                      15
sector 63                      15
sector 52                      15
sector 55                      14
sector 1 manesar               14
sector 76                      14
sector 53                      14
sector 46                      13
sector 36a                     13
sector 6                       13
sector 9                       13
sector 4 phase 2               13
sector 38                      12
sohna road road                12
sector 93                      12
sector 39                      12
sector 31                      12
sector 3 phase 3 extension     11
sector 41                      11
sector 9a                      11
sector 13                      11
sector 1a manesar              10
sector 23                       9
sector 8                        9
sector 3 phase 2                9
sector 45                       9
sector 2 extension              9
sector 95a                      9
manesar                         9
c block sector 43               8
dwarka expressway               8
sector 40                       8
sector 17                       8
sector 59                       8
sector 10a                      8
sector 89 a                     8
sector 36 sohna road            7
sector 51                       7
sector 5                        7
sector 21                       7
sector 58                       7
sector 1                        6
sector 73                       6
sector 30                       5
sector 80                       5
new sector 2                    5
sector 23a                      5
sector 3a                       4
sector 12a                      4
sector 36                       4
new                             4
sector 27                       3
a block sector 43               3
sector 17a                      3
sector 110 a                    3
sector 88b                      3
maruti kunj                     3
sector 17b                      3
b block sector 43               3
sector 15                       3
patel nagar                     3
Name: count, dtype: int64

In [26]:
df.head(

)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 112 Gurgaon,flat,experion windchants,sector 112,3.65,11428.0,3194.0,Built Up area: 2800 (260.13 sq.m.),3.0,5.0,2,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","3 bedroom, 2800 sq.Ft. Apartment on lower floo...","['5 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."
1,4 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,sector 83,1.25,7812.0,1600.0,Super Built up area 2390(222.04 sq.m.)Carpet a...,4.0,4.0,3,servant room,"Block A, Sector 83 Gurgaon, Gurgaon, Haryana",12.0,South-West,5 to 10 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","The unit is a row flat, it has 4 bathrooms and...","['4 Fan', '5 Light', '3 Wardrobe', 'No AC', 'N...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ..."
2,2 BHK Flat in Sector 90 Gurgaon,flat,green court,sector 90,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2.0,2.0,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
3,3 BHK Flat in Sector 49 Gurgaon,flat,orchid petals,sector 49,1.90,10526.0,1805.0,Super Built up area 1805(167.69 sq.m.)Built Up...,3.0,3.0,3,others,"204, Sector 49 Gurgaon, Gurgaon, Haryana",2.0,South,10+ Year Old,"['Sapphire Mall', 'Omaxe City Centre', 'BigBaz...",This lovely 3 bhk apartment/flat in sector 49 ...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 79 Gurgaon,flat,bestech altura,sector 79,2.69,12500.0,2152.0,Super Built up area 2150(199.74 sq.m.),3.0,4.0,3+,servant room,"Tower F, 3rd Floor, Sector 79 Gurgaon, Gurgaon...",3.0,NaN,0 to 1 Year Old,"['Sapphire 83 Mall', 'NH -8', 'Golf Course Ext...",Tower f \n3rd floor\nCorner property \nSwimmin...,"['4 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle3 out of 5..."

In [27]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [28]:
df['sector'].value_counts()

sector
sohna road                    164
sector 102                    113
sector 85                     110
sector 92                     104
sector 109                    100
sector 69                      94
sector 81                      91
sector 65                      91
sector 90                      90
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 48                      63
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 89                      56
sector 2                       55
sector 70a                     54
sector 70                      54
sector 43                      53
sector 37c                     53
sector 66                      52
sector-33 sohna road           52
sector 84                      51
sector 26                      50
sector 67                      48
sector 49                      48
sector 28                      47
sector 103                     45
sector 25                      43
sector 113                     43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 72                      30
sector 12                      30
sector 77                      29
sector 71                      27
sector 112                     25
sector 57                      24
sector 24                      24
sector 111                     24
sector 88a                     23
sector 105                     23
sector 14                      23
sector 33                      23
sector 67a                     22
sector 11                      21
sector 22                      21
sector 3                       20
sector 82a                     20
sector 63a                     20
sector 78                      19
sector 47                      19
gwal pahari                    18
sector 74                      18
sector 91                      17
sector 62                      17
sector 99                      16
sector 110                     16
sector 60                      15
sector 63                      15
sector 52                      15
sector 55                      14
sector 1 manesar               14
sector 76                      14
sector 53                      14
sector 46                      13
sector 36a                     13
sector 6                       13
sector 9                       13
sector 4 phase 2               13
sector 38                      12
sohna road road                12
sector 93                      12
sector 39                      12
sector 31                      12
sector 3 phase 3 extension     11
sector 41                      11
sector 9a                      11
sector 13                      11
sector 1a manesar              10
sector 23                       9
sector 8                        9
sector 3 phase 2                9
sector 45                       9
sector 2 extension              9
sector 95a                      9
manesar                         9
c block sector 43               8
dwarka expressway               8
sector 40                       8
sector 17                       8
sector 59                       8
sector 10a                      8
sector 89 a                     8
sector 36 sohna road            7
sector 51                       7
sector 5                        7
sector 21                       7
sector 58                       7
sector 1                        6
sector 73                       6
sector 30                       5
sector 80                       5
new sector 2                    5
sector 23a                      5
sector 3a                       4
sector 12a                      4
sector 36                       4
new                             4
sector 27                       3
a block sector 43               3
sector 17a                      3
sector 110 a                    3
sector 88b                      3
maruti kunj                     3
sector 17b                      3
b block sector 43               3
sector 15                       3
patel nagar                     3
Name: count, dtype: int64

In [30]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [31]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1189,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4.0,4.0,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
1193,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2.0,2.0,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
1231,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4.0,4.0,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3572,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2.0,2.0,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [32]:
df.loc[1189,'sector'] = 'sector 37'
df.loc[1193,'sector'] = 'sector 92'
df.loc[1231,'sector'] = 'sector 90'
df.loc[3572,'sector'] = 'sector 76'

In [33]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
280,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2.0,2.0,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1106,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2.0,1.0,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
1486,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2.0,2.0,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3271,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2.0,2.0,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
3454,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3.0,2.0,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [34]:
df.loc[[280,1106,1486,3271,3454],'sector'] = 'sector 110'

In [35]:
df[df['sector'] == 'new sector 2']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [36]:
df.shape

(3850, 21)

In [37]:
df.duplicated().sum()

np.int64(0)

In [38]:
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [39]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1645,flat,tarc maceo,sector 91,1.75,11121.0,1574.0,Super Built up area 2724(253.07 sq.m.)Carpet a...,4.0,3.0,3+,"pooja room,servant room,study room,store room",8.0,South,1 to 5 Year Old,"['Manish Gallexie 91', 'Dwarka Expressway', 'R...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
1082,house,independent,sector 4,0.92,15257.0,603.0,Plot area 67(56.02 sq.m.),4.0,4.0,3,others,4.0,East,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shre...","['2 Fan', '10 Light', '3 Wardrobe', 'No AC', '...",NaN
898,flat,shree vardhman victoria,sector 70,1.50,7692.0,1950.0,Super Built up area 1950(181.16 sq.m.)Carpet a...,3.0,5.0,3,servant room,7.0,South,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...","['4 Fan', '1 Exhaust Fan', '3 Geyser', '1 Stov...","['Centrally Air Conditioned', 'Water purifier'..."
3757,flat,kendriya vihar,sector 56,0.65,8609.0,755.0,Carpet area: 755 (70.14 sq.m.),1.0,1.0,1,not available,0.0,NaN,5 to 10 Year Old,"['Sector metro station', 'Sector metro station...",NaN,"['Water purifier', 'Security / Fire Alarm', 'F..."
2113,flat,satya element one,sector 49,0.87,19333.0,450.0,Carpet area: 450 (41.81 sq.m.),1.0,1.0,1,not available,2.0,NaN,1 to 5 Year Old,"['BAGX, Arcadia', 'Bengali Market', 'Fresco Ma...","['1 Fan', '1 Fridge', '1 Geyser', '1 Light', '...","['Power Back-up', 'Intercom Facility', 'Lift(s..."

In [40]:
df.duplicated().sum()

np.int64(128)

In [42]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)

In [3]:
df=pd.read_csv('gurgaon_properties_cleaned_v1.csv')

In [4]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1051,flat,malibu towers,sector 47,2.45,10698.0,2290.0,Carpet area: 2290 (212.75 sq.m.),3.0,4.0,2,study room,1.0,NaN,10+ Year Old,"['Standard chartered ATM', 'Icici bank ATM', '...","['4 Wardrobe', '6 Fan', '4 Geyser', '1 Microwa...","['Feng Shui / Vaastu Compliant', 'Security / F..."
1386,house,dlf new town heights,sector 86,2.47,7718.0,3200.0,Plot area 3200(297.29 sq.m.)Built Up area: 280...,4.0,4.0,3+,"pooja room,servant room",NaN,West,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...","['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
1195,house,independent,sector 92,1.80,7627.0,2360.0,Built Up area: 2360 (219.25 sq.m.),4.0,5.0,0,not available,13.0,NaN,undefined,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
574,flat,m3m the marina,sector 68,1.00,12500.0,800.0,Carpet area: 800 (74.32 sq.m.),2.0,2.0,3,not available,21.0,NaN,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",NaN,"['Power Back-up', 'Lift(s)', 'Swimming Pool', ..."
1711,flat,emaar mgf emerald floors premier,sector 65,3.50,17721.0,1975.0,Super Built up area 1975(183.48 sq.m.),4.0,4.0,3,servant room,4.0,East,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...","['4 Wardrobe', '4 Geyser', '6 AC', '1 Modular ...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."

In [5]:
df['property_type'].value_counts()

property_type
flat     2943
house     907
Name: count, dtype: int64